@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"),
    url("./fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
