---
import Config from "../../config.json";
import Banner from "../layouts/Banner.astro";
import NavBar from "../layouts/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Config.title}</title>
  </head>
  <header>
    <NavBar />
  </header>
  <body>
    <Banner />
  </body>
  <footer></footer>
</html>
