---
import IntroductionCard from "../components/Introduction.Card.astro";
import LatestEpisodeCard from "../components/LatestEpisode.Card.astro";
import SubscribeButton from "../components/Subscribe.Button.astro";
---

<span>
  <p>Introduction Card</p>
  <IntroductionCard />
</span>
<span>
  <p>LatestEpisode Card</p>
  <LatestEpisodeCard />
</span>
<span>
  <p>Subscribe Button</p>
  <SubscribeButton />
</span>
