---
import "../styles/global.css";
---

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
  <div class="px-6 py-4">
    <div class="font-jetbrains font-bold text-xl mb-2">
      Listen to the latest story
    </div>
    <p class="font-jetbrains text-gray-700 text-base">
      Dive deep into the Software Engineering scene of Mauritius
    </p>
  </div>
  <div class="px-6 py-4">
    <button
      class="font-jetbrains bg-yellow-400 text-yellow-800 font-bold py-2 px-4 rounded shadow-md hover:shadow-lg transition duration-300 ease-in-out"
    >
      LISTEN.NOW()
    </button>
  </div>
</div>
